:root {

    --border: 0.1rem solid #D7BB65;
    --bg: #020074;
    --main-color: white;
    --color: #D7BB65;
    --section: black;
    font-size: 10px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-transform: capitalize;
    transition: 0.2s linear;
    text-decoration: none;
    border: none;
    font-family: "Roboto", sans-serif;
}

section {
    padding: 3rem 2rem;
    margin: 0 auto;
    max-width: 1200px;


}

.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 99;
    border-bottom: var(--border);
    background: var(--bg)
}

.header section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 1.5em;
    padding-bottom: 1.5rem;


}

.logo {
    width: 100px;
    height: 70px;
}

.nav-box a {
    margin: 0 1rem;
    font-size: 1.8rem;
    color: var(--main-color);
    margin-left: 6rem;

}

.nav-box a:hover {
    color: var(--color);
    border-bottom: var(--border);
    padding-bottom: 0.5rem;
    font-size: 2rem;
}

.rede-social img {
    width: 30px;
    height: 30px;
    margin: 1.5rem;
}

.rede-social img:hover {
    background: var(--color);
    width: 40px;
    height: 40px;
    padding: 0.5rem;
    border-radius: 50%;
}

.caixa-home {
    background: url(./assets/1.png);
    background-position: center;
    background-size: cover;


}

.caixa-home section {

    display: flex;
    align-items: center;
    min-height: 100vh;
}

.home {

    max-width: 98rem;
}

.home h3 {
    color: var(--color);
    font-size: 6rem;
    filter: drop-shadow(2px 4px 0px black);



}

.home p {
    color: var(--main-color);
    font-size: 3rem;
    font-weight: 300;
    line-height: 1.8;
    padding: 1rem 0;
    margin-bottom: 3rem;
}

.home a {
    color: var(--section);
    background: var(--color);
    padding: 3rem;
    font-size: 2rem;
    border-radius: 4rem;
    font-weight: bold;

}

.home a:hover {
    background: var(--section);
    color: white;
}

.home a:active {
    opacity: 0.6;
}

h2 {
    margin-top: 70px;
}

.titulo {
    font-size: 5rem;
    color: var(--color);
    text-align: center;
    text-transform: uppercase;
    padding-bottom: 4rem;

}

.titulo span {
    color: var(--section);
}

.caixa-sobre .sobre {
    display: flex;
    gap: 1.5rem;

}

.sobre {
    background: var(--color);
    border-radius: 10px;
}

.img-sobre img {
    width: 550px;
    height: 540px;
    padding: 3rem;
}

.conteudo {
    padding: 2rem;

}

.conteudo h3 {
    color: var(--main-color);
    font-size: 3rem;
    text-align: center;
    margin: 3rem 0;

}

.conteudo p {
    font-size: 2.2rem;
    color: var(--main-color);
    line-height: 1.8;
}

.caixa-serviço .serviço {

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 10rem;
    text-align: center;

}

.serviço div {
    padding: 2rem;
    background: var(--color);
    border-radius: 10px;
}

.serviço div:hover {
    padding: 0.1px;

}

.serviço h4 {
    font-size: 2rem;
    margin: 1rem;
}

footer {
    background: #020074;
}

.caixa-contato {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25rem;

}

.titulo-contato {
    font-size: 5rem;
    color: var(--main-color);
    text-align: center;
    text-transform: uppercase;
    padding-bottom: 4rem;
    margin-top: 8rem;
}

.contato h3 {
    font-size: 4rem;
    font-weight: 900;
    color: var(--color);
}

.contato p,
h6 {
    font-size: 2rem;
    line-height: 1.5;
    margin: 1rem 0;
    width: 500px;
    color: var(--main-color);
}

.formulario .forms {

    width: 40rem;
    font-size: 2rem;
    padding: 5px 0 2px 5px
}

.input {
    gap: 4rem;
    display: flex;
    margin: 1rem 0;

}

.formulario input {
    width: 18rem;
    padding: 5px 0 2px 5px;


}

textarea {
    width: 40rem;
    margin-bottom: 1rem;
    height: 10rem;
    padding: 5px 0 2px 5px;

}

.enviar {
    color: var(--main-color);
    background: var(--color);
    padding: 1rem;
    font-size: 2rem;
    border-radius: 1rem;
    cursor: pointer;
}

.enviar:hover {
    background: var(--section);
}

.enviar:active {
    opacity: 0.6;
}

.hidden {
    opacity: 0;
    filter: blur(15px);
    transform: translateX(-100%);
    transition: all 1.5s;

}

.show {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
    transition: all 1.5s;
    animation-play-state: paused;
}


@media (max-width:950px) {

    .header section{
        justify-content: space-between;
        max-width: 800px;
        height: 65px;
    
    }
    .logo {
        width: 90px;
        height: 50px;
    }


   .nav-box{
    display: none;
   }

    .caixa-home section {
        max-width: 800px;
        margin-top: 40px;
    }

    .home h3 {
        font-size: 4rem;
        margin-bottom: 4rem;

    }

    .home p {
        font-size: 2.7rem;
        margin: 4rem 0;

    }

    .home a {
        padding: 2rem;
    }

    .caixa-sobre .hidden {
        width: 800px;
    }

    .img-sobre img {
        width: 400px;
        height: 570px;
    }

    .conteudo p {
        font-size: 1.8rem;
    }

    .caixa-serviço .hidden {

        max-width: 800px;
    }

    .footer .hidden {
        width: 800px;
    }

    .caixa-contato {
        display: flex;
        flex-direction: column;
        gap: 5rem;
    }

    .formulario .forms {
        width: 50rem;

    }

    .formulario input {
        width: 23rem;
    }

    textarea {
        width: 50rem;
    }


}

@media (max-width:450px) {

   

    .caixa-home section {
        max-width: 350px;
    }

    .home h3 {
        font-size: 4rem;
        margin-bottom: 7rem;

    }

    .home p {
        font-size: 2rem;
        margin: 5rem 0;

    }

    .home a {
        padding: 2rem;
    }

    .caixa-sobre .hidden {
        max-width: 350px;
    }

    .caixa-sobre .hidden .sobre {

        display: block;
        max-width: 300px;
    }

    .img-sobre img {
        height: 340px;
        padding: 0;
        width: 300px;
    }

    .caixa-serviço .hidden {
        max-width: 800px;
        padding: 5rem;
    }

    .conteudo {
        padding: 2rem;
        max-width: 350px;
    }

    .footer .show {
        width: 350px;
    }

    .caixa-contato {
        display: block;
    }

    .contato h3 {
        font-size: 3rem;
    }

    .contato p,
    h6 {
        font-size: 1.5rem;
        max-width: 300px;

    }

    .footer .show {
        width: 350px;
        display: flex;
        justify-content: center;
    }

    .formulario {
        display: block;
    }

    .formulario .forms {

        width: 300px;
        margin-top: 3rem;
    }

    .formulario input {
        width: 130px;
    }

    textarea {
        width: 300px;
    }
}